@page
@model CityManager.Pages.CityListModel

<h2>Lista de Cidades</h2>

<ul>
    @foreach (var city in Model.Cities)
    {
        <li>
            <a asp-page="CityDetails" asp-route-cityName="@city">@city</a>
        </li>
    }
</ul>
